<h1>User List</h1>

<div style="margin: 0 3%">
	<table style="width: 90%;" cellspacing="0" cellpadding="0">
		<tbody>
            <th>Id</th>
            <th>Usuário</th>
            <th>E-mail</th>
            <th>Contatos</th>
            <th></th>
            <th></th>
		    <tr><td style="height: 5px;" colspan="6"></td></tr>
		    <tr><td style="border-top: solid 1px #000000; height: 5px;" colspan="6"></td></tr>
            <% @user.each do |user| %>
                <tr>
                    <td>
                        <%= user.id %>
                    </td>
                    <td>
                        <%= user.name %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <%= user.contacts.map{|contact| contact.name}.to_sentence %>
                    </td>
                    <td>Editar</td>
                    <td>Remover</td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>